{% load static %}
<img src="{% static 'img/s1.png'%}" width="150" alt="">

{% if user.is_authenticated %}
    <p>{{ user.username }}</p>
    <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
    <form id="logout" method="POST" action="{% url 'logout' %}">
        {% csrf_token %} <input type="hidden" />
    </form>
{% else %}
    <a href="{% url 'signup' %}">회원가입</a>
    <a href="{% url 'login' %}">로그인</a>
{% endif %}

<a href="{% url 'create' %}">새글 작성</a>
{% for post in posts %}
    <h1>{{post.title}}</h1>
    <p>{{post.pub_date }}</p>
<!--    <p>{{post.content}}</p>
    <p>{{post.user}}</p>
-->
    <a href="{% url 'update' post.id %}">수정</a>
{% endfor %}

